@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/orbitron.woff2') format('woff2'),
         url('/fonts/orbitron.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
@font-face {
  font-family: 'Nunito Sans';
  src: url('/fonts/nunito-sans.woff2') format('woff2'),
        url('/fonts/nunito-sans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Nunito Sans, sans-serif';
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

*:focus-visible {
  box-shadow: 0 0 0 3px #23aaa0 !important;
}

button:focus {
  box-shadow: 0 0 0 3px #23aaa0 !important;
}

a:focus {
  text-decoration: underline;
  text-decoration-color: #23aaa0;
  text-decoration-thickness: 3px;
}

/* Markdown */

body.chakra-ui-dark {
  .markdown {
    h1, h2, h3, h4, a {
      color: #32f3e5;
    }
    li::marker {
      color: #32f3e5;
    }
    img {
      border: 6px solid #99f9f2;
    }
    img:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.75);
    }
    #tombstone {
      background-color: #32f3e5;
    }
  }
  
}

body.chakra-ui-light {
  .markdown {
    a {
      color: #23aaa0;
    }
    img {
      border: 6px solid #373938;
    }
    img:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }
    #tombstone {
      background-color: #373938;
    }
  }
}

.log-modal .markdown {
  ul {
    margin: 0 0 0.4em 2em;
  }
  p, li {
    font-size: 1rem;
  }
}

.markdown {
  h1, h2, h3, h4 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.05em;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1.25rem;
    padding: 0.5em 0;
  }

  a {
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  ul, ol {
    font-size: 1.25rem;
    margin: 1em 0 1em 2em;
  }

  li::marker {
    font-weight: 700;
  }

  img {
    margin: 1em 0;
    border-radius: 1em;
    transition: box-shadow 0.5s;
  }

  img:hover {
    cursor: pointer;
  }

  hr {
    margin: 1em 0;
    border-width: 2px;
  }
}